# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# Sensitive/raw customer data
data/*.csv
data/*.xlsx
data/*.xls
data/*.sas7bdat

# Environment variables / secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log