# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
*.env

# API keys
*api_key*
*API_KEY*

# OS files
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp

# Local data
data/.ipynb_checkpoints/
